@import url('../common/common.css');
@import url('../common/header.css');
@import url('../common/navbar.css');
@import url('../common/popup.css');
@import url('./emoji-picker.css');
@import url('./color-picker.css');
@import url('./ctgry-selector.css');

.main {
  margin-top: 15px;
}

.form {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
}

.date-time, .name, .description {
  width: 100%;
  position: relative;
  border: 2px solid var(--secondary-color);
  padding: 16px 10px;
  border-radius: 10px;
}

.input-area input, .input-area textarea{
  width: 100%;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: var(--text-color);
  resize: none;
  letter-spacing: 0.03em;
}

input::placeholder, textarea::placeholder{
  color: #C0C2CB;
}

.input-area .label1 {
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 4px;
  background-color: var(--primary-color);
  padding: 0 5px;
  font-size: 13px;
  color: var(--secondary-color);
}

span.nm-count, span.des-count {
  text-align: left;
  display: none; /*block*/
  width: 100%;
  margin-top: -20px;
  font-size: 13px;
  margin-left: 20px;
}

.category {
  width: 100%;
}

.category span {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.modify-category {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-color);
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 3px;
  border-radius: 10px;
  cursor: pointer;
}

.modify-category i {
  font-size: 18px;
  margin-right: 8px;
}

.modify-category:hover {
  background-color: var(--secondary-min2);
}

#create-btn {
  border: 0;
  color: var(--text-color);
  background-color: var(--secondary-color);
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.75;
  font-weight: bold;
  width: 400px;
  min-width: 64px;
  padding: 16px 32px;
  border-radius: 50px;
  margin-top: 10px;
  opacity: 0.7;
  transition: box-shadow 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

#create-btn.enable {
  color: rgb(240, 240, 240);
  opacity: 1;
  cursor: pointer;
}

#create-btn.enable:hover {
  box-shadow: var(--secondary-min6) 0px 0px 24px 0px;
}


@keyframes popupAddAnim {
  0% {
    opacity: 0;
    transform: translateY(250px) scale(0.5);
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes popupRmvAnim {
  0% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(75px) scale(0.6);
    opacity: 0.5;
  }
}

@keyframes popupIconAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 500px) {
  .input-area .label1 {
    font-size: 11px;
  }
  .input-area input, .input-area textarea {
     font-size: 13px;
  }
  span.nm-count, span.des-count {
    font-size: 11px;
  }
  .date-time, .name, .description {
    padding: 12px 8px;
  }
  .category span {
    font-size: 13px;
  }
  #create-btn {
    font-size: 19px;
    padding: 8px 32px;
  }
}

@media only screen and (max-width: 432px) {
 .input-area {
    width: 90%;
  }
  .category {
    width: 100%;
  }
  #create-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 299px) {
  .modify-category {
    font-size: 13px;
  }
  .modify-category i {
    font-size: 15px;
  }
}

