.header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 8px 20px;
  background-color: var(--primary-color);
  margin: 0 10%;
  height: 70px;
}

.header .angle {
  font-size: 25px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 22px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.header .angle:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.header .text {
  flex: 1;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.408) 0px 0px 24px;
}

.form {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.emoji .icon {
  background-color: var(--secondary-color);
  width: 93px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 50px;
}

.emoji .icon svg {
  fill: rgb(240, 240, 240);
  width: 50px;
}

.emoji .pen-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(156, 156, 156, 0.506);
  backdrop-filter: blur(6px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.icon span {
  opacity: 0;
  transition: opacity 0.5s;
}

.emoji span svg {
  fill: rgb(255, 255, 255);
  width: 24px;
}

div.emoji-picker {
  background-color: rgb(34, 34, 34);
  margin-bottom: 30px;
  border-radius: 20px;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

div.picker-active {
  width: 386px;
  height: 440px;
  padding: 20px;
  visibility: visible;
  opacity: 1;
}

emoji-picker {
  --emoji-size: 1.6rem;
  --emoji-padding: 0.4rem;
   --border-size: 0px;
   width: 100%;
   height: 100%;
}

.remove-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid rgba(255, 49, 49, 0.5);
  color: rgb(255, 49, 49);
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 30px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: none;
}

.remove-emoji:hover {
  background-color: rgba(255, 49, 49, 0.04);
  border: 1px solid rgb(255, 49, 49);
}

.remove-emoji svg {
  width: 22px;
  margin-right: 5px;
  fill: rgb(255, 49, 49);
}

.input-area {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
}

.date-time, .name, .description {
  width: 100%;
  position: relative;
  border: 2px solid var(--secondary-color);
  padding: 16px 10px;
  border-radius: 10px;
}

.input-area input, .input-area textarea{
  width: 100%;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: var(--text-color);
  resize: none;
  letter-spacing: 0.03em;
}

input::placeholder, textarea::placeholder{
  color: #C0C2CB;
}

.input-area .label1 {
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 4px;
  background-color: var(--primary-color);
  padding: 0 5px;
  font-size: 13px;
  color: var(--secondary-color);
}

span.nm-count, span.des-count {
  text-align: left;
  display: none; /*block*/
  width: 100%;
  margin-top: -20px;
  font-size: 12px;
  margin-left: 20px;
}

.category {
  width: 100%;
}

.category span {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.dropdown {
  width: 400px;
  border-radius: 18px;
  border: 1px solid #ddd;
  margin-top: 20px;
  position: relative;
}

.dropdown:hover {
  border-color: var(--secondary-color);
}


.dropdown .selected-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  cursor: pointer;
}

.dropdown .selected-area ul {
  display: flex;
  flex: 1;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.dropdown .selected-area li {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  background-color: #7E30E1;
  color: #fff;
  padding: 6px 13px;
  border-radius: 20px;
}

span.selected-emoji {
  font-size: 18px;
  margin-right: 5px;
}

.dropdown .selected-area button {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

.dropdown .select {
  position: fixed;
  z-index: 12;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  width: 400px;
  padding: 15px;
  border-radius: 15px;
  left: 50%;
  bottom: 10px;
  margin-top: 23px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) scale(0.8);
  transform-origin: top;
  transition: opacity 0.15s ease, transform 0.15s, visibility 0s linear 0.15s;
}

.dropdown .select-visible {
  opacity: 1;
  transform-origin: top;
  transform: translateX(-50%) scale(1);
  visibility: visible;
  transition-delay: 0s;
}

.dropdown .select h3 {
  font-size: 16px;
}

.dropdown .select p {
  color: rgb(124, 124, 124);
  font-size: 15px;
  margin: 3px 0;
}

.dropdown .select ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.dropdown .select li {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: #7E30E1;
  color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
}

.dropdown .select li i {
  font-size: 18px;
  display: none;
}

.dropdown .select li i.initial {
  display: initial;
  margin-right: 5px;
}

.dropdown .select li .select-emoji {
  font-size: 25px;
  margin-right: 5px;
}

.dropdown button .rotate-icon {
  transform: rotate(180deg);
}

.modify-category {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-color);
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 3px;
  border-radius: 10px;
}

.modify-category i {
  font-size: 18px;
  margin-right: 8px;
}

.modify-category:hover {
  background-color: var(--secondary-min2);
}

.color-selector {
  width: 400px;
  border-radius: 20px;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 40px;
}

.color-selector:hover {
  border-color: var(--secondary-color);
}

.color-selector .selected-color{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
  padding: 20px 20px;
}

.color-selector .selected-color .left{
  display: flex;
  align-items: center;
}

.color-selector .selected-color .color {
  width: 25px;
  height: 25px;
  background-color: #7E30E1;
  border-radius: 8px;
  margin-right: 8px;
}

.selected-color .right i {
  transition: transform 0.3s ease-in;
}

.selected-color .right i.rotate {
  transform: rotate(180deg);
}

.select-color {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.select-color.active {
  height: 318px;
}

.select-color .color-code{
  color: rgb(240, 240, 240);
  font-weight: 600;
  background-color: #7E30E1;
  text-align: center;
  padding: 10px 0;
  border-radius: 20px;
  letter-spacing: 1px;
  border: 2px solid rgba(255, 255, 255, 0.67);
  transition: background-color .5s ease;
  margin: 0 20px;
  margin-top: 30px;
}

.select-color .color-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  margin-top: 15px;
  padding: 0 20px;
}

.color-options button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0;
  color: rgb(240, 240, 240);
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.color-picker {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.color-picker span{
  background-color: #7E30E1;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(240, 240, 240);
  cursor: pointer;
  transition: background-color .5s ease;
}

.color-picker input {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}


#random-color {
  background-color: rgb(26, 129, 255);
  border: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

#random-color svg {
  width: 24px;
  fill: rgb(240, 240, 240);
}

#random-color:hover {
  box-shadow: rgb(26, 129, 255) 0px 0px 12px;
}

#create-btn {
  border: 0;
  color: rgb(240, 240, 240);
  background-color: var(--secondary-color);
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.75;
  font-weight: bold;
  width: 400px;
  min-width: 64px;
  padding: 16px 32px;
  border-radius: 50px;
  margin-top: -30px;
  cursor: pointer;
  transition: box-shadow 0.3s ease 0s;
}

#create-btn:hover {
  box-shadow: var(--add-anim-clr1) 0px 0px 24px 0px;
}

.popup {
  display: none; /*flex*/
  flex-direction: column;
  row-gap: 15px;
  width: 250px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}

.popup .msg-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(20, 20, 49);
  color: rgb(240, 240, 240);
  padding: 20px 0;
  border-radius: 20px;
  /* animation: popupAddAnim .3s ease; */
}

.popup .msg-area.noNm {
  border: 2px solid rgb(255, 49, 49);
}

.popup i {
  font-size: 20px;
  margin-right: 8px;
  animation: popupIconAnim 0.1s ease 0.2s;
}

.popup .noNm i {
  color: red;
}

@keyframes popupAddAnim {
  0% {
    opacity: 0;
    transform: translateY(250px) scale(0.5);
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes popupRmvAnim {
  0% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(75px) scale(0.6);
    opacity: 0.5;
  }
}

@keyframes popupIconAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1025px) {
  .header {
    margin: 0;
  }
}

@media only screen and (max-width: 760px) {
  .popup {
    bottom: 110px;
  }
  .container {
    margin-bottom: 120px;
  }
}

@media only screen and (max-width: 432px) {
  div.picker-active {
    width: 275px;
  }
 .input-area {
    width: 90%;
  }
  .category {
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
  .dropdown .select {
    width: 80%;
  }
  .color-selector {
    width: 100%;
  }
  .select-color.active {
    height: 475px;
  }
  #create-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    padding: 8px 6px;
  }
  .header .text {
    font-size: 20px;
  }
  .user div {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  .user i {
    font-size: 18px;
  }
  .header .angle {
    font-size: 20px;
  }

  .form .emoji {
    margin-bottom: 10px;
  }
  .emoji .icon {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
  .emoji .pen-icon {
    width: 35px;
    height: 35px;
  }
  .emoji span svg {
    width: 20px;
  }
  .remove-emoji {
    padding: 9px 17px;
    font-size: 13px;
  }
  .remove-emoji svg {
    width: 19px;
    margin-right: 4px;
  }
  .emoji-picker {
    margin-top: 15px;
  }
  div.picker-active {
    width: 315px;
  }

  .input-area .label1 {
    font-size: 11px;
  }
  .input-area input, .input-area textarea {
     font-size: 13px;
  }
  span.nm-count, span.des-count {
    font-size: 11px;
  }
  .date-time, .name, .description {
    padding: 12px 8px;
  }
  .category span {
    font-size: 13px;
  }
  .dropdown .selected-area li {
    padding: 5px 10px;
    border-radius: 15px;
  }
  .dropdown .select h3 {
    font-size: 14px;
  }
  .dropdown .select p {
    font-size: 12px;
  }
  .dropdown .select li .select-emoji {
    font-size: 15px;
  }
  .dropdown .select li i {
    font-size: 14px;
  }
  .dropdown .select li {
    padding: 8px 13px;
    border-radius: 15px
  }
  .color-selector .selected-color .left {
    font-size: 14px;
  }
  .color-selector .selected-color .color {
    width: 20px;
    height: 20px;
    border-radius: 6px;
  }
  .color-selector .selected-color {
    padding: 12px 19px;
  }
  .select-color .color-code {
    padding: 7px 0;
    margin-top: 16px;
    font-size: 14px;
  }
  #create-btn {
    font-size: 19px;
    padding: 8px 32px;
  }
}

@media only screen and (max-width: 325px) {
  div.picker-active {
    width: 255px;
  }
}

@media only screen and (max-width: 299px) {
  div.picker-active {
    width: 235px;
  }
  .modify-category {
    font-size: 13px;
  }
  .modify-category i {
    font-size: 15px;
  }
}

@media only screen and (max-width: 244px) {
  div.picker-active {
    width: 215px;
  }
}